<div class="flex flex-col grow justify-center items-center gap-3 h-5/6">
  <span class="font-black text-9xl text-center">404</span>
  <p>Página não encontrada</p>

  <button class="btn btn-outline"><a href="/">Voltar para a página inicial</a></button>
</div>