<html lang="pt-br" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cadastro - Finanças Pessoais</title>
    <link
      rel="shortcut icon"
      href="https://em-content.zobj.net/source/google/387/euro-banknote_1f4b6.png"
      type="image/x-icon"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Instrument+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Space+Grotesk:wght@300..700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/index.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@4.9.0/dist/full.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <script>
      function validateForm(event) { // Prevenir o envio do formulário se houver
      erros event.preventDefault() // Obtendo os valores dos campos const email
      = document.getElementById('email').value.trim() const nome =
      document.getElementById('nome').value.trim() const senha =
      document.getElementById('passw').value const confirmSenha =
      document.getElementById('confirmPassw').value // Validação dos campos let
      isValid = true; let errorMessage = ''; if (!email || !nome || !senha ||
      !confirmSenha) { errorMessage += 'Todos os campos são obrigatórios.\n'
      isValid = false } if (senha !== confirmSenha) { errorMessage += 'As senhas
      não coincidem.\n' isValid = false } if (!isValid) { alert(errorMessage)
      return; } // Se todos os campos forem válidos, envie o formulário
      document.querySelector('form').submit(); }
    </script>
  </head>
  <body>
    <header class="flex justify-between items-center">
      <h1 class="font-bold text-xl lg:text-4xl p-2">Finanças Pessoais</h1>
      <label class="flex cursor-pointer gap-2 p-2">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <circle cx="12" cy="12" r="5" />
          <path
            d="M12 1v2M12 21v2M4.2 4.2l1.4 1.4M18.4 18.4l1.4 1.4M1 12h2M21 12h2M4.2 19.8l1.4-1.4M18.4 5.6l1.4-1.4"
          />
        </svg>
        <input type="checkbox" value="dark" class="toggle theme-controller" />
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path>
        </svg>
      </label>
    </header>

    {{#if messages.erro}}
      <div class="grid place-items-center"><span
          class="m-2 py-2 px-5 rounded-md text-center bg-red-500"
        >
          {{messages.erro}}
        </span>
      </div>
    {{/if}}

    <main>
      <div class="flex flex-col justify-center items-center gap-2">
        <form
          class="flex flex-col gap-2 rounded-lg border p-2 justify-center items-center"
          action="/cadastro"
          method="post"
          onsubmit="validateForm(event)"
        >
          <p><i class="bi bi-person-add"></i> Cadastro</p>
          <label class="input input-bordered flex items-center gap-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 16 16"
              fill="currentColor"
              class="h-4 w-4 opacity-70"
            >
              <path
                d="M2.5 3A1.5 1.5 0 0 0 1 4.5v.793c.026.009.051.02.076.032L7.674 8.51c.206.1.446.1.652 0l6.598-3.185A.755.755 0 0 1 15 5.293V4.5A1.5 1.5 0 0 0 13.5 3h-11Z"
              />
              <path
                d="M15 6.954 8.978 9.86a2.25 2.25 0 0 1-1.956 0L1 6.954V11.5A1.5 1.5 0 0 0 2.5 13h11a1.5 1.5 0 0 0 1.5-1.5V6.954Z"
              />
            </svg>
            <input
              type="text"
              class="grow"
              placeholder="Email"
              id="email"
              name="email"
            />
          </label>
          <label class="input input-bordered flex items-center gap-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 16 16"
              fill="currentColor"
              class="h-4 w-4 opacity-70"
            >
              <path
                d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6ZM12.735 14c.618 0 1.093-.561.872-1.139a6.002 6.002 0 0 0-11.215 0c-.22.578.254 1.139.872 1.139h9.47Z"
              />
            </svg>
            <input
              type="text"
              class="grow"
              placeholder="Nome"
              id="nome"
              name="nome"
            />
          </label>
          <label class="input input-bordered flex items-center gap-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 16 16"
              fill="currentColor"
              class="h-4 w-4 opacity-70"
            >
              <path
                fill-rule="evenodd"
                d="M14 6a4 4 0 0 1-4.899 3.899l-1.955 1.955a.5.5 0 0 1-.353.146H5v1.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-2.293a.5.5 0 0 1 .146-.353l3.955-3.955A4 4 0 1 1 14 6Zm-4-2a.75.75 0 0 0 0 1.5.5.5 0 0 1 .5.5.75.75 0 0 0 1.5 0 2 2 0 0 0-2-2Z"
                clip-rule="evenodd"
              />
            </svg>
            <input
              type="password"
              class="grow"
              placeholder="Senha"
              id="passw"
              name="passw"
            />
          </label>
          <label class="input input-bordered flex items-center gap-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 16 16"
              fill="currentColor"
              class="h-4 w-4 opacity-70"
            >
              <path
                fill-rule="evenodd"
                d="M14 6a4 4 0 0 1-4.899 3.899l-1.955 1.955a.5.5 0 0 1-.353.146H5v1.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-2.293a.5.5 0 0 1 .146-.353l3.955-3.955A4 4 0 1 1 14 6Zm-4-2a.75.75 0 0 0 0 1.5.5.5 0 0 1 .5.5.75.75 0 0 0 1.5 0 2 2 0 0 0-2-2Z"
                clip-rule="evenodd"
              />
            </svg>
            <input
              type="password"
              class="grow"
              placeholder="Confirme a senha"
              id="confirmPassw"
              name="confirmPassw"
            />
          </label>
          <div class="divider"></div>
          <input
            class="btn btn-active btn-accent btn-wide"
            type="submit"
            value="Cadastrar"
          />
        </form>
        <a class="btn btn-outline btn-primary btn-wide" href="/login">Já tenho
          uma conta</a>
      </div>
    </main>
  </body>

</html>