<div class="container mx-auto flex justify-center items-center">
  <form
    action=""
    method="post"
    class="flex flex-col items-center rounded-2xl border-solid border-2 border-[#496989] p-3 m-3 w-full lg:w-1/2 shadow-lg"
  >
    <h2 class="text-center text-2xl pb-3 align-text-middle">Cadastre sua conta</h2>

    <label class="input input-bordered flex items-center gap-2 mb-3 w-full lg:w-9/12">
      <i class="bi bi-type"></i>
      <input type="text" placeholder="Nome da conta" class="grow" />
    </label>

    <label class="input input-bordered flex items-center gap-2 mb-3 w-full lg:w-9/12">
      <i class="bi bi-currency-euro"></i>
      <input type="number" placeholder="Valor da conta" class="grow" min="0" />
    </label>
    <textarea
      placeholder="Descrição"
      class="textarea textarea-bordered textarea-lg w-full lg:w-9/12"
      rows="4"
      maxlength="255"
    ></textarea>

    <button type="submit" class="btn btn-accent mt-3"><i class="bi bi-plus-circle"></i> Criar conta</button>
  </form>
</div>