<div class="flex justify-center">
  <form
    method="post"
    class="flex flex-col justify-center items-center w-full max-w-xl"
    action="{{item.id}}"
  >
    <div
      class="grid grid-cols-1 rounded-xl border-solid border-2 border-[#496989] p-3 md:w-2/3 w-11/12 gap-3 justify-items-center"
    >
      <input
        id="text"
        type="text"
        placeholder="Nome"
        class="input input-bordered w-full"
        name="nome"
        autocomplete="off"
        value="{{item.nome}}"
        aria-label="Nome"
      />
      <input
        type="text"
        name="descricao"
        placeholder="Descrição curta"
        id="descricao"
        class="input input-bordered w-full"
        autocomplete="off"
        value="{{item.descricao}}"
        aria-label="Descrição"
      />
      <input
        id="number"
        type="number"
        placeholder="Valor"
        class="input input-bordered w-full"
        min="0"
        name="valor"
        autocomplete="off"
        value="{{item.valor}}"
        step="0.01"
        aria-label="Valor"
      />
    </div>

    <div class="modal-action w-full flex items-center justify-evenly">
      <button id="botaoCadastrar" class="btn btn-primary" type="submit">
        <i class="bi bi-pencil-square"></i>
        Editar
      </button>
    </div>
  </form>

</div>