<div class="flex justify-center">
  <form
    method="post"
    class="flex flex-col justify-center items-center w-full max-w-xl"
    action="/conta/editar/{{item.id}}"
  >
    <div
      class="grid grid-cols-1 rounded-xl border-solid border-2 border-[#496989] p-3 md:w-2/3 w-11/12 gap-3 justify-items-center"
    >
      <input
        id="text"
        type="text"
        placeholder="Nome"
        class="input input-bordered w-full"
        name="nome"
        autocomplete="off"
        value="{{item.nome}}"
      />
      <input
        id="number"
        type="number"
        placeholder="Valor"
        class="input input-bordered w-full"
        min="0"
        name="valor"
        autocomplete="off"
        value="{{item.valor}}"
        step="0.01"
      />
      <select id="tipo" class="select select-bordered w-full" name="opcao">
        <option disabled selected>Tipo de gasto</option>
        <option value="Dinâmico">Dinâmico</option>
        <option value="Fixo">Fixo</option>
      </select>

      <select
        id="movimento"
        class="select select-bordered w-full"
        name="movimentacao"
      >
        <option disabled selected>Tipo de movimentação</option>
        <option value="Entrada">Entrada</option>
        <option value="Saída">Saída</option>
      </select>
    </div>

    <div class="modal-action w-full flex items-center justify-evenly">
      <button id="botaoCadastrar" class="btn btn-primary" type="submit">
        <i class="bi bi-plus-lg"></i>
        Editar
      </button>
    </div>
  </form>

</div>