<div class="container mx-auto my-3 px-5 w-full lg:w-9/12">
  <div class="overflow-x-auto">
    <table class="table table-xs">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Categoria</th>
          <th>Valor</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>//ID</th>
          <td>//Nome</td>
          <td>//Categoria</td>
          <td>//Valor</td>
          <td>//Botões</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>