/* 
#496989
#58A399
#A8CD9F
#E2F4C5
*/

* {
  scroll-behavior: smooth;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

*::selection {
  background-color: #496989;
  color: #E2F4C5;
}